html {
    font-size: 62.5%;
}

body {
    position: relative;
    color: $color_base;
    background-color: $color_white;
    font-family: $family_base;
    -webkit-font-smoothing: antialiased;
    @include font-size(1.6);
    //letter-spacing: 0.06em;
    letter-spacing: 0.02em;
    line-height: 1.6;
    overflow-x: hidden;
}
